<p id="notice"><%= notice %></p>


<!-- <p>
  <% @facility.companies.each do |company| %>
  	<%= image_tag(company.image_url) %>
  <% end %>
</p>
 -->

<!-- Beide Möglichkeiten zeigen das Logo der Mutterfirma an -->

<p>
  <%= image_tag(@facility.companies.first.image_url) %>
</p>

<p>
  <b>Name:</b>
  <%= @facility.name %>
</p>

<p>
  <b>Address:</b>
  <%= @facility.address %>
</p>

<p>
  <b>Latitude:</b>
  <%= @facility.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @facility.longitude %>
</p>


<%= link_to 'Edit', edit_facility_path(@facility) %> |
<%= link_to 'Back', facilities_path %>
