<%= form_for(@car_body_style) do |f| %>
  <% if @car_body_style.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car_body_style.errors.count, "error") %> prohibited this car_body_style from being saved:</h2>

      <ul>
      <% @car_body_style.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :wikipedia_url %><br />
    <%= f.text_field :wikipedia_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
