<p id="notice"><%= notice %></p>

<p>
	<%= image_tag(@company.image_url) %> <!-- Hier zeige ich das Logo an -->
</p>

<p>
  <b>Name:</b>
  <%= @company.name %>
</p>

<p>
  <b>Image url:</b>
  <%= @company.image_url %>
</p>



<p>
  <!-- <b>Wikipedia url:</b> -->
  <%#= @company.wikipedia_url %>
  <%= link_to "Wikipedia-Artikel", @company.wikipedia_url %> <!-- Hier mache ich die URL klickbar -->
</p>

<ul> <!-- Hier zeige ich die einzelnen Werke an -->
<% for facility in @company.facilities %>
	<li> <%=h facility.name %> </li>
	<li> <%=h facility.address %></li>
	<hr>
<% end %>
</ul>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
