<h1>Listing manufactures</h1>

<table>
  <tr>
    <th>Facility</th>
    <th>Product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @manufactures.each do |manufacture| %>
  <tr>
    <td><%= manufacture.facility_id %></td>
    <td><%= manufacture.product_id %></td>
    <td><%= link_to 'Show', manufacture %></td>
    <td><%= link_to 'Edit', edit_manufacture_path(manufacture) %></td>
    <td><%= link_to 'Destroy', manufacture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Manufacture', new_manufacture_path %>
