<p id="notice"><%= notice %></p>

<p>
  <b>Facility:</b>
  <%= @manufacture.facility_id %>
</p>

<p>
  <b>Product:</b>
  <%= @manufacture.product_id %>
</p>


<%= link_to 'Edit', edit_manufacture_path(@manufacture) %> |
<%= link_to 'Back', manufactures_path %>
