<%= form_for(@assembly) do |f| %>
  <% if @assembly.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assembly.errors.count, "error") %> prohibited this assembly from being saved:</h2>

      <ul>
      <% @assembly.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :facility_id %><br />
    <%= f.number_field :facility_id %>
  </div>
  <div class="field">
    <%= f.label :car_configuration_id %><br />
    <%= f.number_field :car_configuration_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= form_tag(@assembly) do %>
  <div class="field">
    <%= label_tag :facility_id %><br />
    <%= select_tag :facility_id, option_groups_from_collection_for_select(Company.all, :facilities, :name, :id, :name) %>
    <%= select_tag :car_type_id, option_groups_from_collection_for_select(Company.all, :car_types, :name, :id, :name) %>
    <%= select_tag :car_body_style_id, options_from_collection_for_select(@car_body_styles, :id, :name), { :multiple => true } %>
  </div>

  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>